:root {
  --primary-accent: #261629;
  --secondary-accent: #ff9000;
  --background-color: #f9e3fe;
  --card-background: #f4f2f3;
  --main-font: "Gothic A1", sans-serif;
  --sm-margin: 8px;
  --md-margin: 16px;
  --lg-margin: 32px;
  --max-margin: 48px;
  --base-font-size: 18px;
  --section-font-size: 1.3em;
  --base-padding: 16px;
  --standard-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

* {
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 0 var(--lg-margin);
  background-image: url(/assets/teaser-image.jpeg);
  background-size: cover;
  background-position: bottom;
}
.welcome p {
  font-size: var(--base-font-size);
  color: white;
}

/*-----Welcome Section start here------*/
.welcome {
font-size: var(--base-font-size);
font-family: 'Gothic A1', sans-serif;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align:left;
padding-left: 8px;
}
/*-----Ingredient Selection start here------*/
.ingredient-title{
    background-color: var(--secondary-accent);
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: var(--section-font-size);
    font-weight: bold;
    height: 48px;
    padding-left: 8px;
    }
    .ingredient-headline{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: var(--primary-accent);
      
    
    }
.ingredients-selection {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-bottom: var(--sm-margin);
    text-decoration: none;
}
.ingredient-pics{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    

}



/* To-the-top Button */

.to-top {
  font-size: 16px;
  color: black;
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

/* To-the-top Button Activated by User */
.to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 32px;
}


/* Recipe Section */

#recipes {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--card-background);
  gap: var(--md-margin);
  border-radius: 5%;
  max-width: 90%;
  margin: auto;
}

name {
  font-size: 3.5vw;
  font-weight: bold;
  color: var(--primary-accent);
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 1rem;
}

#recipes img {
  max-width: 90%;
  height: auto;
  align-self: center;

}

h3 {
  color: var(--primary-accent);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5%;
}


#recipes ul {
  color: var(--primary-accent);
  font-size: 1rem;
  padding-left: 10%;
  max-width: 90%;
}

p {
  color: var(--primary-accent);
  font-size: 1rem;
  padding-left: 8%;
  max-width: 90%;
  padding-bottom: 5%;

}
