:root {
  --primary-accent: #1d2526;
  --secondary-accent: #ff9000;
  --background-color: #fcefef;
  --card-background: #f4f2f3;
  --main-font: "Gothic A1", sans-serif;
  --accent-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --sm-margin: 8px;
  --md-margin: 16px;
  --lg-margin: 32px;
  --max-margin: 48px;
  --xsm-text: 16px;
  --sm-text: 18px;
  --md-text: 24px;
  --lg-text: 30px;
  --base-padding: 16px;
  --standard-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  --accent-shadow: 2px 2px 4px var(--secondary-accent);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

/*-----Welcome Section start here------*/
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  height: 500px;
  background-image: url(/assets/teaser-image.jpeg);
  background-size: cover;
  background-position: top;
  padding: 0 var(--lg-margin);
  margin-bottom: var(--max-margin);
}
.welcome p {
  font-size: var(--md-text);
  color: white;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.7em;
}
.welcome .highlight-text {
  color: var(--secondary-accent);
}

/*-----Ingredient Selection start here------*/
.ingredient-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--lg-text);
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: var(--lg-margin);
  font-style: italic;
  font-family: var(--accent-font);
  text-shadow: var(--accent-shadow);
}
.ingredients-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 700px;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: var(--max-margin);
}
.ingredient-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--primary-accent);
  font-size: var(--sm-text);
  padding: 0;
  margin: 0;
  margin-bottom: var(--sm-margin);
}

.circular--portrait {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: var(--standard-shadow);
}
.circular--portrait img {
  width: 100%;
  height: auto;
  margin-top: -15px;
}
/* To-the-top Button */

.to-top {
  font-size: var(--sm-text);
  color: black;
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

/* To-the-top Button Activated by User */
.to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 32px;
}

/* Recipe Section */
#recipes {
  display: flex;
  flex-flow: column wrap;
  width: 95%;
  background-color: var(--card-background);
  border-radius: 20px;
  box-shadow: var(--standard-shadow);
  margin: 0 auto;
  margin-bottom: var(--max-margin);
}

name {
  font-size: var(--lg-margin);
  font-family: var(--accent-font);
  font-weight: bold;
  text-align: center;
  color: var(--primary-accent);
  margin-top: var(--max-margin);
  margin-bottom: var(--lg-margin);
  padding-left: var(--md-margin);
  text-shadow: var(--accent-shadow);
  text-decoration: underline;
}

#recipes img {
  max-width: 90%;
  margin-left: var(--sm-margin);
  margin-right: var(--sm-margin);
  margin-bottom: var(--lg-margin);
  height: auto;
  align-self: center;
}

h3 {
  color: var(--primary-accent);
  font-size: var(--md-text);
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-left: var(--lg-margin);
  margin-bottom: var(--md-margin);
  text-shadow: var(--accent-shadow);
}
.recipe-details {
  font-size: var(--md-text);
}
.ingredients {
  color: var(--primary-accent);
  padding: 0;
  margin: 0;
  padding-left: var(--max-margin);
  padding-right: var(--lg-margin);
  margin-bottom: var(--lg-margin);
}
.ingredients li {
  font-size: var(--md-text);
  line-height: 1.5em;
}

.description {
  color: var(--primary-accent);
  padding: 0;
  margin: 0;
  padding-left: var(--lg-margin);
  padding-right: var(--lg-margin);
  margin-bottom: var(--lg-margin);
  line-height: 1.5em;
}

@media screen and (min-width: 768px) {
  #recipes {
    max-width: 70%;
  }
}
