:root {
  --primary-accent: #261629;
  --secondary-accent: #ff9000;
  --background-color: #f9e3fe;
  --card-background: #f4f2f3;
  --main-font: "Roboto", sans-serif;
  --sm-margin: 8px;
  --md-margin: 16px;
  --lg-margin: 32px;
  --max-margin: 48px;
  --base-font-size: 16px;
  --section-font-size: 1.3em;
  --base-padding: 16px;
  --standard-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

* {
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: var(--primary-accent);
  color: var(--background-color);
  width: 100%;
  text-align: center;
  height: 16vw;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: end;
  height: 6vw;
}

.logo img {
  height: 11vw;
  margin-top: 2px;
}

.dropbtn img {
  background-color: transparent;
  border: none;
  height: 2vw;
}
.welcome {
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 8px;
}
.ingredient-title {
  background-color: var(--secondary-accent);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: var(--section-font-size);
  font-weight: bold;
  height: 48px;
  padding-left: 8px;
}
.ingredients-selection {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.ingredient-pics {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-top: var(--sm-margin);
}


/* To-the-top Button */

.to-top {
  font-size: 16px;
  color: black;
  background:white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

/* To-the-top Button Activated by User */
.to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 32px;
}
