html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

li{
  list-style: none;
}

a{
  color: var(--background-color);
  text-decoration: none;
}

header{
  background-color: var(--primary-accent);
  box-shadow: var(--standard-shadow);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* Navbar Container*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo + Title */
.containerLogoH{
  display: flex;
  align-items: center;
  flex-direction: row wrap;
 }

.logo img {
  margin-left: var(--lg-margin);
  margin-right: 5px;
}

h1 {
  font-size: var(--sm-font);
  font-family: var(--main-font);
  font-weight: 900;
  line-height: 20px;
  color: var(--secondary-accent);
}

/* List of links, navigation */

.nav-menu{
  position: absolute;
  left: 100%;
  top: 30px;
  gap: 0;
  background-color: var(--primary-accent);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  padding: 12px 10px;
} 

.nav-link{
  transition: 0.3s ease-out;
}
.nav-link:hover{
  color: var(--secondary-accent);
}

/* Burger Icon */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--secondary-accent);
}

.hamburger{
  position: relative;
  right:5%
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

.nav-item{
    margin: 16px; 
  }
.nav-menu.active{
    left: 0;
    top: 30px;
  }

@media screen and (min-width: 768px) {
  
  nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    left: 0;
    position: unset;
    width: auto;
    padding: 0px 8px;

  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .nav-item{
    margin: 8px; 
  }
}
